{% for item in include.requirements %}
  <p>
    <a href='{{ site.baseurl }}/#{{ item.number }}'>{{ item.number }}</a> 
    <a id='{{ item.number }}'></a> {{ item.name | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
  {% if item.sections %}
  <table>
    {% for section in item.sections %}
    <tr>
      <td>{{ section.name }}</td>
    </tr>
    <tr>
      <td>
        {% if section.requirements %}
          {% include Nouded.html requirements=section.requirements %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if item.requirements %}
    {% include Nouded.html requirements=item.requirements %}
  {% endif %}
{% endfor %}
